.old

######################
# Python ENV and Results
.venv
Statistics/pdfs

# IDE
.vscode

# Volume
Volume/Source/*
Volume/Histograms/*
Volume/Irs/*
!Volume/Irs/Makefile.*

# HistogramPass
HistogramPass/build/*